# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env
.admin-password

# macOS
.DS_Store

# Logs
logs/
*.log

# Uploads / build
uploads/
build/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
